{#template MAIN}
<table cellspacing="0" cellpadding="0" border="1" style="border-collapse: collapse;"
    width="100%">
    <tr>
        <th width="3%" style="height: 22px">
        </th>
        <th width="27%">
            名称
        </th>
         <th width="15%">
            大类
        </th>
        <th width="15%">
            分类
        </th>
        <th width="15%">
            专业
        </th>       
        <th width="8%">
            类型
        </th>
        <th width="7%">
            大小
        </th>
        <th colspan="2" width="10%">
            操作
        </th>
    </tr>
    {#foreach $T as t}
    <tr align="center">
        <td>
            <input type="checkbox" name="ckResource" class="ckResource" value="{$T.t.Id}" />
        </td>
        <td>
            <a href="javascript:void(0);" id="{$T.t.Id}" class="preview_auditresource" title="{$T.t.Title}">{$T.t.Name}</a>
        </td>
        <td>
            {$T.t.CategoryName}
        </td>
        <td>
            {$T.t.SubjectName}
        </td>
        <td>
            {$T.t.SpecialityName}
        </td>
        
        <td>
            {$T.t.TypeName}
        </td>
        <td>
            {$T.t.Size}
        </td>
        <td width="5%">
            <a href="javascript:void(0);" dataid="{$T.t.Id}" class="audit_auditresource">通过</a>
        </td>
        <td width="5%">
            <a href="javascript:void(0);" dataid="{$T.t.Id}" class="del_auditresource">删除</a>
        </td>
    </tr>
    {#/for}
</table>
{#/template MAIN} 