{#template MAIN}
<div class="mydiv" align="center">
    <table width="99%" class="mytable" >
        <tr>
            <td align="center">
                <select id="Exception_tier">
                    <option value="-1" selected="selected">-全部-</option>
                    <option value="0">日下载超过500次</option>
                    <option value="1">日下载超过1000次</option> 
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <div id="ExceptionList">
                </div>
            </td>
        </tr>
    </table>
</div>
{#/template MAIN} 