{#template MAIN}
<table cellspacing="0" border="1" style="width: 100%; border-collapse: collapse;"
    width="100%">
    <tr style="height: 22px">
        <th width="15%">
            学校名称
        </th>
        <th width="45%">
            选择模块
        </th>
        <th width="7%">
            添加时间
        </th>
        <th width="7%">
            到期时间
        </th>
        <th width="7%">
            销售人员
        </th>
        <th width="7%">
            省份
        </th>
<!--        <th width="7%">
            浏览数
        </th>
        <th width="7%">
            下载数
        </th>-->
        <th width="8%" could="c">
        操作
        </th>
    </tr>
    {#foreach $T as s}
    <tr style="height: 22px">
        <td align="left">
         <a href="javascript:void(0);" id="Asystem_schoollog" schoolid="{$T.s.Id}">{$T.s.Name}</a>
           <!-- <a href="/SystemManage/SchoolLog/{$T.s.Id}">{$T.s.Name}</a>-->
        </td>
        <td align="left">
            {$T.s.Tag2}
        </td>
        <td align="center">
            {$T.s.StartTime}
        </td>
        <td align="center">
            {$T.s.EndTime}
        </td>
        <td align="center">
            {$T.s.Tag1}
        </td>
        <td align="center">
            {$T.s.ProvinceName}
        </td>
<!--        <td align="center">
            {$T.s.PressCount}
        </td>
        <td align="center">
            {$T.s.DownLoadCount}
        </td>-->
        <td align="center" could="c">
        {#if $T.s.isschool=="false"}
            <a href="javascript:void(0);" dataid="{$T.s.Id}" class="Edit_system_school">修改</a>
        {#/if}
            <a href="javascript:void(0);" dataid="{$T.s.Id}" class="del_school">删除</a>
        </td>
    </tr>
    {#/for}
</table>
{#/template MAIN} 