{#template MAIN}
<div  style="background-color: #EEF6FE;">
    <table class="mytable" width="99%"> 
        <tr>
            <td align="right">
                当前密码：
            </td>
            <td>
                <input type="password" name="txtOldPwd" id="txtOldPwd" value="" /><label id="lb_old"
                    style="color: Red" class="lb"></label>
            </td>
        </tr>
        <tr>
            <td align="right">
                新密码：
            </td>
            <td>
                <input type="password" name="txtNewPwd" id="txtNewPwd" value="" /><label id="lb_new"
                    class="lb" style="color: Red"></label>
            </td>
        </tr>
        <tr>
            <td align="right">
                确认密码：
            </td>
            <td>
                <input type="password" name="txtNewPwdSure" id="txtNewPwdSure" value="" /><label
                    id="lb_sure" class="lb" style="color: Red"></label>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td valign="middle" align="left">
                <input type="button" class="btn" id="btnPwd" value="修改" />
            </td>
        </tr>
    </table>
</div>
{#/template MAIN} 