{#template MAIN}{#foreach $T as u}
<div class="mydiv">
<form id="form_depupdate"   action="/TeacherManage/UpdateDepart" method="post" enctype="multipart/form-data">
<table class="myDepartmenttable" width="99%">
    <tr>
        <td style="height: 30px" width="30%">
        <a href="../../../Content/院系表.xls" target="_blank">下载批量导入院、系列表模版</a>
         <input type="hidden" name="hdSchoolId" id="hdSchoolId" value="{$T.u.SchoolId}" />
        <br />
            表单名称：<br />
            要导入的Excel文件中第一个表单的名称
        </td>
        <td>
            <input type="text" name="txtSheet" id="txtSheet" value="Sheet1" />
        </td>
    </tr>
    <tr>
        <td style="height: 30px">
            文件路径：<br />
            要导入的Excel文件所在的物理路径
        </td>
        <td>
            <input type="file" name="upXls" id="upXls" value="" />
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="submit" class="btn" name="btnImport" id="btnImport_DepartmentXls" value="导入" />
            <input type="button" name="btnBackDepartment" value="返回"class="btn" id="btnBackDepartment"  style=" margin-left:40px;"/>
        </td>
    </tr>
</table>
</form></div>
{#/for}
{#/template MAIN} 