<script src="/Scripts/plugin/jquery.form.js" type="text/javascript"></script>
<style type="text/css">
    .kCollect
    {
        margin-right: 20px;
    }
</style>
<div style="margin: 10px;">
    @if (Model[0] != -1)
    {
        <a href="javascript:void(0);" class="kCollect" id="k1Collect"  dataCount = @Model[0]>
            <img src="/Content/image/lan/16-circle-green.png" class="btimg" /><span class="btimg">资源库</span></a>
    }
    @if (Model[1] != -1)
    {
        <a href="javascript:void(0);" class="kCollect" id="k2Collect" dataCount = @Model[1]>
            <img src="/Content/image/lan/16-circle-green.png" class="btimg" /><span class="btimg">医学库</span></a>
    }
    @if (Model[2] != -1)
    {
        <a href="javascript:void(0);" class="kCollect" id="k4Collect" dataCount = @Model[2]>
            <img src="/Content/image/lan/16-circle-green.png" class="btimg" /><span class="btimg">模考库</span></a>
    }
    @if (Model[3] != -1)
    {
        <a href="javascript:void(0);" class="kCollect" id="k5Collect" dataCount = @Model[3]>
            <img src="/Content/image/lan/16-circle-green.png" class="btimg" /><span class="btimg">校内资源库</span></a>
    }
</div>
<div id="Collectlist">
</div>
<div id="divBar" style="margin: 10px;">
</div>
<script type="text/javascript"> 
    $(function () {
        layoutparm = {};   
    @if (Model[0] != -1)
    {
    <text>
        /*k1*/
        $("#k1Collect").off().on("click", function () {
            $(".kCollect img").prop("src", "/Content/image/lan/16-circle-green.png");
            $(this).find("img").prop("src", "/Content/image/lan/16-circle-orange.png");

            $.cellpagebar.init({
            total: $(this).attr("dataCount"), //数据总条数
            pagesize: 3, 			//每页的数据条数
            container: $("#divBar")	//分页条在页面的位置
        }, function (pageindex) {         
         layoutparm = {};
                layoutparm.pageIndex = pageindex;
                layoutparm.pageCount = 3;
                layoutparm.medicalTag = 0;
        $.sync.ajax.post("/Account/CollectlistK1", layoutparm, function (data) {
                $("#Collectlist").setTemplateURL("/Scripts/template/Account/Collectlistk1.htm");
                $("#Collectlist").processTemplate(data.Result);
            });        
        }); 
         /*资源样式*/
        $(".trResource").unbind().hover(function () {
            $(this).css("color", "#A2671E");
        }, function () {
            $(this).css("color", "");
        });          
        });
         
        $(".tdDelResource1").die().live("click", function () {
            layoutparm = {};
            var $that = $(this);
            $.artDialog.confirm("确定删除吗？", function () {
                layoutparm.resourceid = $that.attr("dataId");
                $.sync.ajax.post("/Account/CollectDeletedk1", layoutparm, function (data) {
                    $.dialog.tips(data.Msg);
                    if (data.State) {
                        $("#divload").load("/Account/Collect/");
                    }
                })
            }).title("取消收藏");
        });  
        //点击名称到预览页面
//         $(".Collectlistk1_To_preview").live("click",function(){ 
//              var $that = $(this);
//              layoutparm.hdid=$that.attr("hddate"); 
//                $.sync.ajax.post("/Account/Collectlistk1_To_preview", layoutparm, function (data) {
//                
//                window.location = "/Resource/Preview?hdId="+data.Result.SpecialityId+"&hdType=2&hdData=['"+$that.attr("hddate")+"']&hdsearchname=";
//            });  
//        });    
       /*预览*/
    $(".imgResource").die().live("click", function () {
        var $that = $(this);
        parameters = {};
        parameters.ext = $(($that.attr("dataurl") || "jpg").split(".")).last().get(0).toLowerCase().trim();
        parameters.html = "";
        if ($that.attr("dataurl").trim().length <= 0) {
            layoutparm.html = "<img src='/Images/lan/default/resource.jpg' style='margin-bottom:-3px;width:650px;height:500px;'/>";
        } else {
            if (parameters.ext == "swf" || parameters.ext == "ppt" || parameters.ext == "doc") {
                parameters.html = "<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0'";
                parameters.html += " width='650' height='500'>";
                parameters.html += " <param name='movie' value='" + $that.attr("dataurl") + "' />";
                parameters.html += " <param name='quality' value='high' />";
                parameters.html += " <embed src='" + $that.attr("dataurl") + "' quality='high' pluginspage='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash'";
                parameters.html += " type='application/x-shockwave-flash' width='650px' height='500px'>";
                parameters.html += " </embed>";
                parameters.html += " </object>";
            } else if (parameters.ext == "flv") {
                parameters.html = '<embed type="application/x-shockwave-flash" src="/Images/source/vcastr.swf" width="650" height="500" style="margin-bottom:-3px;" id="single" name="single" quality="high" allowfullscreen="true" flashvars="file=' + $that.attr("dataurl") + '&amp;image=' + $that.attr("dataurl") + '&amp;width=650&amp;height=500">';
            } else {
                parameters.html = "<img src='" + $that.attr("dataurl") + "' style='margin-bottom:-3px;width:650px;height:500px;'/>";
            }
        }
        $.dialog({
            opacity: 0.1,
            padding: 0,
            title: '预览',
            content: $(parameters.html).get(0),
            lock: true,
            close: function () {
                parameters = {};
            }
        });
        });  
    </text>
    }
    @if (Model[1] != -1)
    {
    <text>
        /*k2*/
        $("#k2Collect").off().on("click", function () {
            $(".kCollect img").prop("src", "/Content/image/lan/16-circle-green.png");
            $(this).find("img").prop("src", "/Content/image/lan/16-circle-orange.png"); 
             $.cellpagebar.init({
            total: $(this).attr("dataCount"), //数据总条数
            pagesize: 3, 			//每页的数据条数
            container: $("#divBar")	//分页条在页面的位置
        }, function (pageindex) {         
         layoutparm = {};
                layoutparm.pageIndex = pageindex;
                layoutparm.pageCount = 3;
                layoutparm.medicalTag = 1;
        $.sync.ajax.post("/Account/CollectlistK1", layoutparm, function (data) {
                $("#Collectlist").setTemplateURL("/Scripts/template/Account/Collectlistk2.htm");
                $("#Collectlist").processTemplate(data.Result);
            });  
        }); 
        /*资源样式*/
        $(".trResource").unbind().hover(function () {
            $(this).css("color", "#A2671E");
        }, function () {
            $(this).css("color", "");
        });  
        });
           $(".tdDelResource2").die().live("click", function () {
            layoutparm = {};
            var $that = $(this);
            $.artDialog.confirm("确定删除吗？", function () {
                layoutparm.resourceid = $that.attr("dataId");
                $.sync.ajax.post("/Account/CollectDeletedk2", layoutparm, function (data) {
                    $.dialog.tips(data.Msg);
                    if (data.State) {
                        $("#k2Collect").attr("dataCount", $("#k2Collect").attr("dataCount") - 1).click();
                    }
                })
            }).title("取消收藏");
        });
         //点击名称到预览页面
//         $(".Collectlistk2_To_preview").live("click",function(){ 
//              var $that = $(this);
//              layoutparm.hdid=$that.attr("hddate"); 
//                $.sync.ajax.post("/Account/Collectlistk2_To_preview", layoutparm, function (data) {
//                
//                window.location = "/Medical/Preview?hdId="+data.Result.SpecialityId+"&hdType=1&hdData=['"+$that.attr("hddate")+"']&hdsearchname=";
//            });  
//        });    
          
    </text>
    }
    @if (Model[2] != -1)
    {
    <text>
        /*k4*/
        $("#k4Collect").off().on("click", function () {
            $(".kCollect img").prop("src", "/Content/image/lan/16-circle-green.png");
            $(this).find("img").prop("src", "/Content/image/lan/16-circle-orange.png");

            $.cellpagebar.init({
                total: $(this).attr("dataCount"),
                pagesize: 10,
                container: $("#divBar")
            }, function (pageindex) {
                layoutparm = {};
                layoutparm.pageIndex = pageindex;
                layoutparm.pageCount = 10;
                $.sync.ajax.post("/Account/K4Collect", layoutparm, function (data) {
                    if (data.State) {
                        data.Result.PageIndex = pageindex;
                        data.Result.PageCount = 10;
                        $("#Collectlist").setTemplateURL("/Scripts/template/Account/k4Collect.htm");
                        $("#Collectlist").processTemplate(data.Result);
                    }
                });
            });
            /*资源样式*/
        $(".trResource").unbind().hover(function () {
            $(this).css("color", "#A2671E");
        }, function () {
            $(this).css("color", "");
        });  
        });
        $(".k4Del").die().live("click", function () {
            var $that = $(this);
            $.dialog.confirm("要取消收藏吗？", function () {
                layoutparm = {};
                layoutparm.id = $that.attr("dataid");
                $.sync.ajax.post("/Account/DelK4Collect", layoutparm, function (data) {
                    if (data.State) {
                        $("#k4Collect").attr("dataCount", $("#k4Collect").attr("dataCount") - 1).click();
                    }
                });
            });
        });</text>
    }    
    @if (Model[3] != -1)
    {
    <text>
        /*k5*/
        $("#k5Collect").off().on("click", function () {
            $(".kCollect img").prop("src", "/Content/image/lan/16-circle-green.png");
            $(this).find("img").prop("src", "/Content/image/lan/16-circle-orange.png");
            $.cellpagebar.init({
                total: $(this).attr("dataCount"),
                pagesize: 10,
                container: $("#divBar")
            }, function (pageindex) {
                layoutparm = {};
                layoutparm.pageIndex = pageindex;
                layoutparm.pageCount = 10;
                $.sync.ajax.post("/Account/K5Collect", layoutparm, function (data) {
                    if (data.State) {
                        data.Result.PageIndex = pageindex;
                        data.Result.PageCount = 10;
                        $("#Collectlist").setTemplateURL("/Scripts/template/Account/k5Collect.htm");
                        $("#Collectlist").processTemplate(data.Result);
                    }
                });
            });
            /*资源样式*/
        $(".trResource").unbind().hover(function () {
            $(this).css("color", "#A2671E");
        }, function () {
            $(this).css("color", "");
        });  
        });
        $(".k5Del").die().live("click", function () {
            var $that = $(this);
            $.dialog.confirm("要取消收藏吗？", function () {
                layoutparm = {};
                layoutparm.id = $that.attr("dataid");
                $.sync.ajax.post("/Account/DelK5Collect", layoutparm, function (data) {
                    if (data.State) {
                        $("#k5Collect").attr("dataCount", $("#k5Collect").attr("dataCount") - 1).click();
                    }
                });
            });
        });
      
        /*预览*/
        $(".imgZoom").die().live("click", function () {
            var $that = $(this);
            layoutparm = {};
            layoutparm.ext = $(($that.attr("dataurl") || "jpg").split(".")).last().get(0).toLowerCase().trim();
            layoutparm.html = "";
            if ($that.attr("dataurl").trim().length <= 0) {
                layoutparm.html = "<img src='/Images/lan/default/resource.jpg' style='margin-bottom:-3px;width:650px;height:500px;'/>";
                $("#divView").html(layoutparm.html);
            } else {
                if (layoutparm.ext == "swf" || layoutparm.ext == "ppt" || layoutparm.ext == "doc") {
                    layoutparm.html = "<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0'";
                    layoutparm.html += " width='650' height='500'>";
                    layoutparm.html += " <param name='movie' value='" + $that.attr("dataurl") + "' />";
                    layoutparm.html += " <param name='quality' value='high' />";
                    layoutparm.html += " <embed src='" + $that.attr("dataurl") + "' quality='high' pluginspage='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash'";
                    layoutparm.html += " type='application/x-shockwave-flash' width='650px' height='500px'>";
                    layoutparm.html += " </embed>";
                    layoutparm.html += " </object>";
                } else if (layoutparm.ext == "flv") {
                    layoutparm.html = '<embed type="application/x-shockwave-flash" src="/Images/source/vcastr.swf" width="650" height="500" style="margin-bottom:-3px;" id="single" name="single" quality="high" allowfullscreen="true" flashvars="file=' + $that.attr("dataurl") + '&amp;image=' + $that.attr("dataurl") + '&amp;width=650&amp;height=500">';
                } else {
                    layoutparm.html = "<img src='" + $that.attr("dataurl") + "' style='margin-bottom:-3px;width:650px;height:500px;'/>";
                }
            }
            $.dialog({
                opacity: 0.1,
                padding: 0,
                title: '预览',
                content: $(layoutparm.html).get(0),
                lock: true,
                close: function () {
                    layoutparm = {};
                }
            });
            return false;
        });
    </text>
    }
        $(".kCollect:eq(0)").click();
    });  
</script>
