@{
    ViewBag.Title = "系统管理";
    Layout = "~/Views/Shared/_Back.cshtml";
}
@section SubHead{
}
<table width="100%">
    <br />
    <br />
    <br />
    <br />
    <tr>
        <td valign="middle" align="center">
            <table width="450px">
                <tr>
                    <td>
                        <img src="/Content/image/sysbg.png" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
