@{
    ViewBag.Title = "试题库";
    Layout = "~/Views/Shared/_Back.cshtml";
}
@section SubHead{
    <script src="@Url.Content("~/Scripts/views/manage/test.js")" type="text/javascript"> </script>
}
<div id="divMenu" style="float: left; width: 158px">
</div>
<div id="divdata" style="margin-left: 160px">
<table width="100%">
    <br />
    <br />
    <br />
    <br />
    <tr>
        <td valign="middle" align="center">
            <table width="450px">
                <tr>
                    <td>
                        <img src="/Content/image/sysbg.png" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
